
html body{
    margin:0;
    padding: 0;
}

h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-top: 60px;
}
#landingpage{
     background-image:  url(../image/background.jpg);
    background-size:  cover;
    background-position: center;
    background-attachment: scroll;
        height: 110vh;
    text-align: center;
    
}
img{
    height: 350px;
    width: 500px;
    border-radius: 100px;
}
.secondsection{
    height: 100vh;
    background-color: floralwhite;
    
}

.socialmedia h1{
    font-size: 20px;
    
}

.socialmedia{
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    background-color: #f0e1a6;t
background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#linkedin {
    padding-top: 20px;
    color: dodgerblue;
    
}