#landingpage{
    background-image:
    url(../image/japan.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    text-align: center;
    width: 100%
}
#header{
    font-family: 'Oswald', sans-serif;
    font-size:91pt;
    text-align:center;
    padding-top: 131px;
} 
#intro{
    font-family: 'Oswald', sans-serif;
    font-size:31pt;
    color: midnightblue;
    text-align:center;
} 

/* navbar */
.navbar a:hover{
    background-color: aliceblue;
}

.navbar{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    overflow: hidden;
    position: relative; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    z-index: 100;
    font-size: 31px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 0px;
    
    
}

/* Links inside the navbar */
.navbar a{
    display: block;
    text-align: center;
    position:relative;
    padding: 10px 120px;
    color:black;
    text-decoration:none;
}

.paragraph{
    text-align:  center; 
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 25pt;
    color: white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    text-shadow: 1px 1px black;
}

.socialmedia{
    margin: 0 auto;
    text-align: center;
    height: 75vh;

}
#linkedin {
    padding-top: 20px;
    color: dodgerblue;
    
}
#facebook {
    padding-top: 20px;
    color: darkblue;
    
}
#instagram {
    padding-top: 20px;
    color: rebeccapurple;
    
}
html body{
    margin:0;
    padding: 0;
}
