#portfolio{
   
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment:scroll;
    text-align: center;
    
}

.navbar a:hover{
    background-color:antiquewhite;
}

.navbar{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    overflow: hidden;
    position: relative; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    z-index: 100;
    font-size: 31px;
    
    
}

/* Links inside the navbar */
.navbar a{
   display: block;
    text-align: center;
    position:relative;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-bottom: 13px;
    width: 25%;
    color:black;
    text-decoration:none;
}

h1{
    font-size: 88pt;
    color:azure;
}

img{
    height: 500px;
   
}
