/*Navbar content */
#nav{
	width:100%;
	height:80px;
	background-color: #000;
	line-height: 80px;
    margin: 0 auto;
    margin-bottom: -10px;
    text-align: center;
    font-family: 'BioRhyme';font-size: 18.5px;
 
}

nav ul{
	float:right;
	margin-right: 30px;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.8s all;
}

nav ul li a{
	text-decoration: none;
	 color: #fff;
	 padding: 30px;
}

.navbar-default a:hover{
	background-color: transparent;
	-webkit-transition-duration: 0.78s;
	transition-duration: 0.78s;
	color: cyan;
}

/*Paragraph content*/
#pcontent{
	font-family: 'BioRhyme';font-size: 14.75px;
	color: #000000;

}

/*Projects Div*/
.projects{
	position:relative;
	text-align: center;
	margin-top: 0;

}

#projectheader{
	font-family: 'Berkshire Swash';font-size: 45px;
	color: #000000;
}

#projectheader2{
	font-family: 'Berkshire Swash';font-size: 30px;
	color: #000000;
}

/*Styling of the Image w/ hover effect*/
#pic{
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#pic:hover{
	opacity: 0.7;
}

/*The Modal Background*/
.project{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

/*The Modal Content (Image itself)*/
.project-content{
	margin:auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/*The Caption text of the Modal Image*/
#caption{
	margin:auto;
	display: block;
	width:80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding:10px 0;
	height: 150px;
}

/*Zoom animation for the Modal*/
.project-content, #caption{
	animation-name:zoom;
	animation-duration:0.6s;
}

@keyframes zoom{
	from{transform:scale(0)}
	to{transform:scale(1)}
}

/*Close Button Styling*/
.close{
	position: absolute;
	top:15px;
	right:35px;
	color:#f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus{
	color:#bbb;
	text-decoration: none;
	cursor:pointer;
}
